{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}
{% import 'base_footer.tmpl' as footer with context %}
{{ set_locale(lang) }}
{#  <html> tag is included by base.html_headstart #}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body class="is-loading">
	{% if html5up %}
		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">
			{% if permalink == "/" and Intro is defined %}
				<!-- Intro -->
				<div id="intro">
					{{ Intro }}
					<ul class="actions">
						<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
					</ul>
				</div>
			{% endif %}
			
      {{ header.html_header() }}
			<!-- Main -->
			<div id="main">
				{% block content %}{% endblock %}
				{% block main_footer %}{% endblock %}
			</div>
			{{ footer.html_footer() }}
			</div>
			
		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
					
	{% else %}
    <a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>
    <div id="container">
         {{ header.html_header() }}
         <main id="content">
            {# {% block content %}{% endblock %} #}
         </main>
         {{ footer.html_footer() }}
    </div>
    {{ base.late_load_js() }}
    {% if use_cdn %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.2/baguetteBox.min.js"></script>
    {% else %}
        <script src="/assets/js/baguetteBox.min.js"></script>
    {% endif %}
    {% block extra_js %}{% endblock %}
    <script>baguetteBox.run('a.reference', {
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});</script>
    {{ body_end }}
    {{ template_hooks['body_end']() }}
	{% endif %}
</body>
</html>
