{#  -*- coding: utf-8 -*- #}

{% block content %}
	<!-- Begin post-list {{ post_list_id }} -->
	<section class="posts post-list" id="{{ post_list_id }}">
		{% if posts %}
			{% for post in posts %}
				{% if post.use_in_feeds %}
					<article class="post-list-item">
						<header>
							<span class="date">
								{{ post.formatted_date(date_format)|e }}
							</span>
							<h1><a href="{{ post.permalink(lang) }}">
									{% if post.meta('escape') == "True" %}
										{{ post.title()|e }}
									{% else %}
										{{ post.title() }}
									{% endif %}</a></h1>
						</header>
						<a href="{{ post.permalink(lang) }}" class="image fit">
							<img src="{{ post.meta('image') or '/images/default.jpg' }}" alt="" />
						</a>
						{% if post.meta('description') %}
							<p>{{ post.meta('description') }}</p>
						{% endif %}
						{{ post.text(teaser_only=True, show_read_more_link=False) }}
						<ul class="actions">
							<li><a href="{{ post.permalink(lang) }}"
										 class="button">Full Story</a></li>
						</ul>
					</article>
				{% endif %}
			{% endfor %}
    {% endif %}
	</section>
	<!-- End post-list {{ post_list_id }} -->
{% endblock %}
